<html>
  <head>
    <title>OpenAI API Test</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <center>
    <h1>Openai api test by Mathisen</h1>
  </center>
    <div class="container">
      <form id="openai-form">
        <label for="input-text">Enter text to send to OpenAI API:</label>
        <textarea id="input-text" name="input-text"></textarea>
        <button type="submit">Submit</button>
      </form>
      <label for="response-area">Response from OpenAI Using code-cushman-001 model right now</label>
      <div id="response-area"><pre><code id="response-code"></code></pre></div>
    </div>
  </body>
  <script src="js/openai.js"></script>
</html>
